doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='Test qilish uchun apilar. CRUD hammasi ishlidi')
        meta(name='keywords' content='api, crud, restapi')
        title Apis for test
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css')
        style.
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
            * {
            box-sizing: border-box;
            font-family: 'Ubuntu', sans-serif;
            }
            .p-light {
            font-weight: 300 !important;
            }
            .p-regular {
            font-weight: 400 !important;
            }
            .p-medium {
            font-weight: 500 !important;
            }
            .p-semi-bold {
            font-weight: 500 !important;
            }
            .p-bold {
            font-weight: 700 !important;
            }
            .p-extra-bold {
            font-weight: 800 !important;
            }
            .p-black {
            font-weight: 900 !important;
            }
    body.container-fluid
        h1.p-bold.py-3 Test qilish uchun apilar
        h5.mb-5
            | Hamma get requestlar
            a(href='https://jsonplaceholder.typicode.com/' target='_blank')  jsonplaceholder 
            |             saytdan olingan faqat ularga qoshimcha ravishda post, put, delete qoshilgan ya'ni crud
            |             qilish. Hamma apilar to'liq ishlidi. Siz databasedigi malumotlarga qanaqadir
            |             o'zgartirish kiritsez u data faqat 1kun databaseda turadi va 1 kundan keyin database
            |             auto restart bo'ladi. Auto restart bo'lish vohti tahminan kun tugashida bo'ladi yani
            |             23:59 lar atrofida.
        hr
        |         Base URL:
        button.btn.button.ml-2(data-toggle='tooltip' data-placement='top' title='Copy to clipboard' data-html='true' onclick='copylink()')
            | https://testapi.cyclic.app
        hr
        // User
        h3 User
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td /user
                    td
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td
                        pre.
                            {
                                _id: string,
                                username: string,
                                email: string
                            }, 200
                    td
                    td
                        p Get User Profile
                        p User Profileni olish uchun token yuborish kerak
                tr
                    td /user/register
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                username: string,
                                email: string,
                                password: string,
                            }
                    td
                        pre.
                            {
                                message: 'User added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Register
                tr
                    td /user
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                password: string,
                                email: string,
                            }
                    td
                        pre.
                            {
                                token: string,
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Login
                tr
                    td /user
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td
                        pre.
                            {
                                name: string,
                                username: string,
                                email: string,
                                phone: string,
                                address: { city: string }
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'User updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit User Profile
                tr
                    td /users
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td
                        pre.
                            {
                                message: 'User deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'User not found',
                                success: false
                            }, 400
                    td Delete User Profile
        hr
        // Users
        h3 Users
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/users?limit=5&page=1' target='_blank')
                            | /users
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    name: string,
                                    username: string,
                                    email: string,
                                    address: {
                                        street: string,
                                        suite: string,
                                        city: string,
                                        zipcode: string,
                                        geo: {
                                            lat: string,
                                            lng: string
                                        }
                                    },
                                    phone: string,
                                    website: string,
                                    company: {
                                        name: string,
                                        catchPhrase: string,
                                        bs: string
                                    }
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Users
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authusers?limit=5&page=1' target='_blank')
                            | /authusers
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Users
                tr
                    td /users/:userId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                _id: string,
                                name: string,
                                username: string,
                                email: string,
                                address: {
                                    street: string,
                                    suite: string,
                                    city: string,
                                    zipcode: string,
                                    geo: {
                                        lat: string,
                                        lng: string
                                    }
                                },
                                phone: string,
                                website: string,
                                company: {
                                    name: string,
                                    catchPhrase: string,
                                    bs: string
                                }
                            }, 200
                    td
                        pre.
                            {
                                message: 'User not found'
                            }, 400
                    td
                        p Get User
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authusers/:userId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get User
                tr
                    td /users
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                username: string,
                                email: string,
                                phone: string,
                                address: { city: string }
                            }
                    td
                        pre.
                            {
                                message: 'User added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add User
                tr
                    td /authusers
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add User
                tr
                    td /users/:userId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                username: string,
                                email: string,
                                phone: string,
                                address: { city: string }
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'User updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit User
                tr
                    td /authusers/:userId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit User
                tr
                    td /users/:userId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'User deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'User not found',
                                success: false
                            }, 400
                    td Delete User
                tr
                    td /authusers/:userId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete User
        hr
        // Todos
        h3 Todos
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/todos?limit=5&page=1' target='_blank')
                            | /todos
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    title: string,
                                    completed: boolean,
                                    userId: string
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Todos
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authtodos?limit=5&page=1' target='_blank')
                            | /authtodos
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Todos
                tr
                    td /todos/:todoId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                _id: string,
                                title: string,
                                completed: boolean,
                                userId: string
                            }, 200
                    td
                        pre.
                            {
                                message: 'Todo not found'
                            }, 400
                    td
                        p Get Todo
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authtodos/:todoId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get Todo
                tr
                    td /todos
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                title: string,
                                completed: boolean,
                                userId: string
                            }
                    td
                        pre.
                            {
                                message: 'Todo added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add Todo
                tr
                    td /authtodos
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add Todo
                tr
                    td /todos/:todoId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                title: string,
                                completed: boolean,
                                userId: string
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'Todo updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit Todo
                tr
                    td /authtodos/:todoId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit Todo
                tr
                    td /todos/:todoId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'Todo deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'Todo not found',
                                success: false
                            }, 400
                    td Delete Todo
                tr
                    td /authtodos/:todoId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete Todo
        // Posts
        h3 Posts
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/posts?limit=5&page=1' target='_blank')
                            | /posts
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    title: string,
                                    body: string,
                                    userId: string
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Posts
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authposts?limit=5&page=1' target='_blank')
                            | /authposts
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Posts
                tr
                    td /posts/:postId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                _id: string,
                                title: string,
                                body: string,
                                userId: string
                            }, 200
                    td
                        pre.
                            {
                                message: 'Post not found'
                            }, 400
                    td
                        p Get Post
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authposts/:postId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get Post
                tr
                    td /posts
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                title: string,
                                body: string,
                                userId: string
                            }
                    td
                        pre.
                            {
                                message: 'Post added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add Post
                tr
                    td /authposts
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add Post
                tr
                    td /posts/:postId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                title: string,
                                body: string,
                                userId: string
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'Post updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit Post
                tr
                    td /authposts/:postId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit Post
                tr
                    td /posts/:postId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'Post deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'Post not found',
                                success: false
                            }, 400
                    td Delete Post
                tr
                    td /authposts/:postId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete Post
        // Comments
        h3 Comments
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 411px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/comments?limit=5&page=1' target='_blank')
                            | /comments
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    name: string,
                                    email: string,
                                    body: string,
                                    postId: string
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Comments
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authcomments?limit=5&page=1' target='_blank')
                            | /authcomments
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Comments
                tr
                    td /comments/:commentId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                _id: string,
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                            }, 200
                    td
                        pre.
                            {
                                message: 'Comment not found'
                            }, 400
                    td
                        p Get Comment
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authcomments/:commentId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get Comment
                tr
                    td /comments
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                            }
                    td
                        pre.
                            {
                                message: 'Comment added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add Comment
                tr
                    td /authcomments
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add Comment
                tr
                    td /comments/:commentId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'Comment updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit Comment
                tr
                    td /authcomments/:commentId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit Comment
                tr
                    td /comments/:commentId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'Comment deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'Comment not found',
                                success: false
                            }, 400
                    td Delete Comment
                tr
                    td /authcomments/:commentId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete Comment
        // Albums
        h3 Albums
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/albums?limit=5&page=1' target='_blank')
                            | /albums
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    name: string,
                                    email: string,
                                    body: string,
                                    postId: string
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Albums
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authalbums?limit=5&page=1' target='_blank')
                            | /authalbums
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Albums
                tr
                    td /albums/:albumId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                _id: string,
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                            }, 200
                    td
                        pre.
                            {
                                message: 'Album not found'
                            }, 400
                    td
                        p Get Album
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authalbums/:albumId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get Album
                tr
                    td /albums
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                            }
                    td
                        pre.
                            {
                                message: 'Album added',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add Album
                tr
                    td /authalbums
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add Album
                tr
                    td /albums/:albumId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                name: string,
                                email: string,
                                body: string,
                                postId: string
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'Album updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit Album
                tr
                    td /authalbums/:albumId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit Album
                tr
                    td /albums/:albumId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'Album deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'Album not found',
                                success: false
                            }, 400
                    td Delete Album
                tr
                    td /authalbums/:albumId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete Album
        // Photos
        h3 Photos
        table.table.table-striped.table-bordered.table-hover.table-responsive
            thead.thead-dark
                tr
                    th(scope='col') Route
                    th(scope='col') Params
                    th(scope='col') Method
                    th(scope='col') Access
                    th(scope='col') Body
                    th(scope='col') Response success, Status
                    th(scope='col') Response error, Status
                    th(scope='col' style='min-width: 461px !important') Description
            tbody
                tr
                    td
                        a(href='https://testapi.cyclic.app/photos?limit=5&page=1' target='_blank')
                            | /photos
                    td
                        pre.
                            pagination: {
                                page: number,
                                limit: number
                            },
                            sort: {
                                sortName: string,
                                sortValue: desc | asc
                            } | sortName,
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                data: {
                                    _id: string,
                                    title: string,
                                    url: string,
                                    thumbnailUrl: string,
                                    albumId: string
                                }[],
                                pageLists: number,
                                page: number | string,
                            }, 200
                    td
                    td
                        p Get All Photos
                        p
                            | Datani sort qilish uchun parametrda 1 ta yoki 2 ta key jo'natish kerak.
                            | Agar 1 ta ya'ni sortName ni o'zini jo'natilsa sortNameda kelayotgan
                            | value bo'yicha sort qilib beradi, agar sortName bilan sortValue
                            | jo'natilsa sortNamedigi value bo'yicha sortValuedigi valuega qarab
                            | pastdan yuqoriga yoki yuqoridan pastga sort qiladi.
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td
                        a(href='https://testapi.cyclic.app/authphotos?limit=5&page=1' target='_blank')
                            | /authphotos
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td
                    td Get All Photos
                tr
                    td /photos/:photoId
                    td
                        pre.
                            customSelect: string | string[]
                    td
                        span.badge.badge-success GET
                    td Public
                    td
                    td
                        pre.
                            {
                                title: string,
                                url: string,
                                thumbnailUrl: string,
                                albumId: string
                            }, 200
                    td
                        pre.
                            {
                                message: 'Photo not found'
                            }, 400
                    td
                        p Get Photo
                        p
                            | customSelect ga string yoki arrayda string jo'natish kerek (agar kerak
                            | bo'lsa). Uning maqsadi backenddan kelayotgan datani ichidigi o'zizga
                            | kereli object keylani olish uchun ishlatilinadi.
                        p
                            | Batafsil: 
                            a(title='youtube link' href='/') bu yerda
                tr
                    td /authphotos/:photoId
                    td Yuqoridigi bilan bir xil
                    td
                        span.badge.badge-success GET
                    td Private
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Get Photo
                tr
                    td /photos
                    td
                    td
                        span.badge.badge-primary POST
                    td Public
                    td
                        pre.
                            {
                                albumId: string,
                                title: string,
                                image: jpeg | jpg | png
                            }
                    td
                        pre.
                            {
                                message: 'Album added',
                                success: true
                            }, 201
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Add Photo
                tr
                    td /authphotos
                    td
                    td
                        span.badge.badge-primary POST
                    td Private
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Add Photo
                tr
                    td /photos/:photoId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td
                        pre.
                            {
                                albumId: string,
                                title: string,
                                image: jpeg | jpg | png
                                ...
                            }
                    td
                        pre.
                            {
                                message: 'Photo updated',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: string | {},
                                success: false
                            }, 400
                    td Edit Photo
                tr
                    td /authphotos/:photoId
                    td
                    td
                        span.badge.badge-warning PUT
                    td Public
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Edit Photo
                tr
                    td /photos/:photoId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td
                        pre.
                            {
                                message: 'Photo deleted',
                                success: true
                            }, 200
                    td
                        pre.
                            {
                                message: 'Photo not found',
                                success: false
                            }, 400
                    td Delete Photo
                tr
                    td /authphotos/:photoId
                    td
                    td
                        span.badge.badge-danger DELETE
                    td Public
                    td
                    td Yuqoridigi bilan bir xil
                    td Yuqoridigi bilan bir xil
                    td Delete Photo
        hr
        .d-md-flex.justify-content-between
            p
                | Author: 
                a(href='https://github.com/Mirzamurod' target='_blank') Mirzamurod
            p
                | Powered by:
                a(href='https://www.instagram.com/setapp_uz/' target='_blank') SetApp
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js')
        script.
            $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
            const copylink = () => {
            navigator.clipboard.writeText('https://testapi.cyclic.app')
            document.querySelector('.tooltip-inner').innerHTML = 'Copied element'
            }
